<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/css.css">
    <meta property="og:title" content="Генератор embed ссылок">
    <meta property="og:type" content="link">
    <meta property="og:url" content="https://github.com/MGS-Daniil/Embed-Discord">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="Embed Discord by Daniil10295">
    <meta property="og:image" content="https://vsekidki.ru/uploads/posts/2016-07/1469367149_perspective-dice-six-faces-random.png">
    <meta property="og:description" content="Embed генератор! ЛоЛ">
    <meta name="google-site-verification" content="yX1mjJ24IGNKkcP0iQ74lDbye8Hn25-AmexI2sLTDtU" />
    <script type="text/javascript" src="/js/EmbedGenerator.js"></script>
    <title>Основная страница - {{ info.title }}</title>
</head>
<body>
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E31L9P86XR"></script>
    <script src="/js/gtag.js"></script>
    <div class="panelContainer">
        <h1>Embed Generator</h1>
        <p class="text;panelContainer">Генератор embed ссылок</p>
        <a class="button" href="">Сгенерировать свою embed-ссылку</a>
    </div>
</body>
</html>
